<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="SMOKE TESTS UREMONT" verbose="1" thread-count="1">

	<parameter name="browser" value="chrome" />
	<parameter name="platform" value="test" />

	<test name="SMOKE TESTS">
		<!-- Admin -->
		<parameter name="admin" value="admin" />
		<parameter name="admin_password" value="password" />

		<!-- Users -->
		<parameter name="user" value="login" />
		<parameter name="password" value="pass" />

			<!-- Gmail users -->
		<parameter name="user" value="login" />
		<parameter name="password" value="pass" />
		
		<!-- QA stend -->
	<parameter name="url" value="https://uremont.dev/" />


		<classes>


	<class name="com.tests.smoke.Smoke_1" ></class>
	<class name="com.tests.smoke.Smoke_2" />
	<class name="com.tests.smoke.Smoke_2_2" />
	<class name="com.tests.smoke.Smoke_4_1" /><class name="com.tests.smoke.Smoke_4_2_1" /><class name="com.tests.smoke.Smoke_4_1_1" /><class name="com.tests.smoke.Smoke_6_1" /><class name="com.tests.smoke.Smoke_5_1_1" /><class name="com.tests.smoke.Smoke_5_2_1" />
			<class name="com.tests.smoke.Smoke_7_1_1" ></class></classes>
	</test>
	


</suite> 


	